
InfoVizProject/Bin/Debug/*
InfoVizProject/InfoVizProject/obj/*
InfoVizProject/InfoVizProject/obj/*
InfoVizProject/InfoVizProject/obj/*/*
InfoVizProject/InfoVizProject/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
InfoVizProject/InfoVizProject.suo